<!-- templates/base.html -->

{% load static %}

<html>
<head>
    <title>Django blog</title>
    <!-- Use a valid font family in the Google Fonts link -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400" rel="stylesheet">
    <!-- Load the base.css file from the static directory -->
    <link href="{% static 'css/base.css' %}" rel="stylesheet">
</head>
<body>
    <div>
        <header>
            <div class="nav-left">
                <!-- Use the 'home' URL pattern for the home link -->
                <h1><a href="{% url 'home' %}">Django blog</a></h1>
            </div>
            <div class="nav-right">
                <!-- Use the 'post_new' URL pattern for the new blog post link -->
                <a href="{% url 'post_new' %}">+ New Blog Post</a>
            </div>
        </header>
        
        {% if user.is_authenticated %}
            <!-- Display a greeting if the user is authenticated -->
            <p>Hi {{ user.username }}!</p>
            <!-- Provide a link to log out -->
            <p><a href="{% url 'logout' %}">Log out</a></p>
        {% else %}
            <!-- Display a message and links to log in and sign up if the user is not authenticated -->
            <p>You are not logged in. <a href="{% url 'login' %}">Log In</a> | <a href="{% url 'signup' %}">Sign Up</a></p>
        {% endif %}

        {% block content %}
            <!-- This is a placeholder block for child templates to override -->
        {% endblock content %}
    </div>
</body>
</html>



            

        